BODY {
	FONT-FAMILY: Arial, Helvetica, sans-serif; COLOR: #696969; FONT-SIZE: 10pt
}
H1 {
	FONT-STYLE: normal; MARGIN: 0px 0px 16px; FONT-FAMILY: Arial, Helvetica, sans-serif; COLOR: #043e70; FONT-SIZE: 20px; FONT-WEIGHT: normal
}
H2 {
	MARGIN: 12px 0px 6px; FONT-FAMILY: Arial, Helvetica, sans-serif; COLOR: #728caf; FONT-SIZE: 16px; FONT-WEIGHT: bold
}
H3 {
	FONT-STYLE: normal; MARGIN: 0px 0px 6px; FONT-FAMILY: Arial, Helvetica, sans-serif; COLOR: #043e70; FONT-SIZE: 13px; FONT-WEIGHT: bold
}
H4 {
	FONT-STYLE: normal; MARGIN: 12px 0px 6px; FONT-FAMILY: Arial, Helvetica, sans-serif; COLOR: #043e70; FONT-SIZE: 13px; FONT-WEIGHT: bold
}
P {
	PADDING-BOTTOM: 8px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; COLOR: #696969; FONT-SIZE: 10pt; PADDING-TOP: 0px
}
HR {
	BORDER-BOTTOM: #bdcede; BORDER-LEFT: #bdcede; PADDING-BOTTOM: 0px; MARGIN: 3px 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; HEIGHT: 0px; BORDER-TOP: #bdcede 1px solid; BORDER-RIGHT: #bdcede; PADDING-TOP: 0px
}
A {
	COLOR: #728caf; FONT-WEIGHT: bold; TEXT-DECORATION: none
}
A:visited {
	COLOR: #969696; TEXT-DECORATION: none
}
A:active {
	COLOR: #043e70; TEXT-DECORATION: underline
}
A:hover {
	COLOR: #043e70; TEXT-DECORATION: underline
}
UL {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
LI {
	PADDING-BOTTOM: 3px; LIST-STYLE-TYPE: circle; MARGIN: 0px 16px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 3px
}
.frametitle {
	FONT-FAMILY: Arial, Helvetica, sans-serif; COLOR: #ffffff; FONT-SIZE: 10pt; FONT-WEIGHT: bold
}
.frametext {
	FONT-FAMILY: Arial, Helvetica, sans-serif; COLOR: #043e70; FONT-SIZE: 10pt
}
.frametext2 {
	TEXT-ALIGN: justify; FONT-FAMILY: Arial, Helvetica, sans-serif; COLOR: #043e70; FONT-SIZE: 10pt
}
.pictext {
	FONT-FAMILY: Arial, Helvetica, sans-serif; COLOR: #004273; FONT-SIZE: 8pt; FONT-WEIGHT: bold
}
.menu {
	FONT-FAMILY: Arial, Helvetica, sans-serif; COLOR: #333333; FONT-SIZE: 10pt
}
.tblwithborder {
	BORDER-BOTTOM: #666666 1pt solid; BORDER-LEFT: #666666 1pt solid; FONT-FAMILY: Arial, Helvetica, sans-serif; COLOR: #000000; FONT-SIZE: 10pt; BORDER-TOP: #666666 1pt solid; BORDER-RIGHT: #666666 1pt solid; TEXT-DECORATION: none
}
.boxtext_red {
	FONT-FAMILY: Arial, Helvetica, sans-serif; COLOR: maroon; FONT-SIZE: 14px
}
.boxtext_blue {
	FONT-FAMILY: Arial, Helvetica, sans-serif; COLOR: #004273; FONT-SIZE: 14px
}
.boxtext_grey {
	LINE-HEIGHT: 18px; FONT-FAMILY: Arial, Helvetica, sans-serif; COLOR: #3c3c3c; FONT-SIZE: 14px
}
.bodytextBlue {
	FONT-FAMILY: Arial, Helvetica, sans-serif; COLOR: #004273; FONT-SIZE: 10pt; TEXT-DECORATION: none
}
.attention {
	BORDER-BOTTOM: #043e70 thin dotted; BORDER-LEFT: #043e70 thin; LINE-HEIGHT: 35px; FONT-STYLE: italic; FONT-FAMILY: Arial, Helvetica, sans-serif; COLOR: #004273; FONT-SIZE: 13pt; BORDER-TOP: #043e70 thin dotted; BORDER-RIGHT: #043e70 thin
}
.splash {
	LINE-HEIGHT: 22px; FONT-STYLE: italic; FONT-FAMILY: Arial, Helvetica, sans-serif; FONT-SIZE: 13px; FONT-WEIGHT: bold
}
.coloredBox1 {
	BORDER-BOTTOM: #728caf 1px solid; BORDER-LEFT: #728caf 1px solid; PADDING-BOTTOM: 5px; BACKGROUND-COLOR: #f5f8fa; PADDING-LEFT: 5px; PADDING-RIGHT: 5px; BORDER-TOP: #728caf 1px solid; BORDER-RIGHT: #728caf 1px solid; PADDING-TOP: 5px
}
.coloredBox2 {
	BORDER-BOTTOM: gray 1px solid; BORDER-LEFT: gray 1px solid; PADDING-BOTTOM: 5px; BACKGROUND-COLOR: #f3f3f3; PADDING-LEFT: 5px; PADDING-RIGHT: 5px; BORDER-TOP: gray 1px solid; BORDER-RIGHT: gray 1px solid; PADDING-TOP: 5px
}
.coloredBox3 {
	BORDER-BOTTOM: #009999 1px solid; BORDER-LEFT: #009999 1px solid; PADDING-BOTTOM: 5px; BACKGROUND-COLOR: #e9f6f7; MARGIN: 0px; PADDING-LEFT: 5px; PADDING-RIGHT: 5px; BORDER-TOP: #009999 1px solid; BORDER-RIGHT: #009999 1px solid; PADDING-TOP: 5px
}
.coloredBox4 {
	BORDER-BOTTOM: #ed4eb2 1px solid; BORDER-LEFT: #ed4eb2 1px solid; PADDING-BOTTOM: 5px; BACKGROUND-COLOR: #fef4fa; PADDING-LEFT: 5px; PADDING-RIGHT: 5px; BORDER-TOP: #ed4eb2 1px solid; BORDER-RIGHT: #ed4eb2 1px solid; PADDING-TOP: 5px
}
.sidebox_blue {
	BACKGROUND-IMAGE: url(pics/bg_box_blue.jpg); BORDER-BOTTOM: medium none; BORDER-LEFT: #bdcede 1px solid; PADDING-BOTTOM: 5px; BACKGROUND-COLOR: white; MARGIN: 0px; PADDING-LEFT: 5px; PADDING-RIGHT: 5px; FONT-FAMILY: Arial, Helvetica, sans-serif; FONT-SIZE: 10pt; BORDER-TOP: #bdcede 1px solid; BORDER-RIGHT: medium none; PADDING-TOP: 5px
}
.sidebox_green {
	BACKGROUND-IMAGE: url(pics/bg_box_green.jpg); BORDER-BOTTOM: medium none; BORDER-LEFT: #bdcede 1px solid; PADDING-BOTTOM: 5px; BACKGROUND-COLOR: white; MARGIN: 0px; PADDING-LEFT: 5px; PADDING-RIGHT: 5px; FONT-FAMILY: Arial, Helvetica, sans-serif; FONT-SIZE: 10pt; BORDER-TOP: #bdcede 1px solid; BORDER-RIGHT: medium none; PADDING-TOP: 5px
}
.sidebox_red {
	BACKGROUND-IMAGE: url(pics/bg_box_red.jpg); BORDER-BOTTOM: medium none; BORDER-LEFT: #bdcede 1px solid; PADDING-BOTTOM: 5px; BACKGROUND-COLOR: white; MARGIN: 0px; PADDING-LEFT: 5px; PADDING-RIGHT: 5px; FONT-FAMILY: Arial, Helvetica, sans-serif; FONT-SIZE: 10pt; BORDER-TOP: #bdcede 1px solid; BORDER-RIGHT: medium none; PADDING-TOP: 5px
}
.sidebox_yellow {
	BACKGROUND-IMAGE: url(pics/bg_box_yellow.jpg); BORDER-BOTTOM: medium none; BORDER-LEFT: #bdcede 1px solid; PADDING-BOTTOM: 5px; BACKGROUND-COLOR: white; MARGIN: 0px; PADDING-LEFT: 5px; PADDING-RIGHT: 5px; FONT-FAMILY: Arial, Helvetica, sans-serif; FONT-SIZE: 10pt; BORDER-TOP: #bdcede 1px solid; BORDER-RIGHT: medium none; PADDING-TOP: 5px
}
.headline {
	BORDER-BOTTOM: #bdcede 1px solid; PADDING-BOTTOM: 2px; BACKGROUND-COLOR: #e7edf2; MARGIN: 0px 0px 5px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; BORDER-TOP: #517a9c 1px solid; PADDING-TOP: 2px
}
.headlinks {
	PADDING-LEFT: 8px; COLOR: #043e70
}
.headlinks A {
	MARGIN: 0px 4px
}
.headlinksActive {
	FONT-STYLE: normal; COLOR: #555555; TEXT-DECORATION: overline
}
.linkline {
	BACKGROUND-IMAGE: url(pics/linkline.jpg); BORDER-BOTTOM: #bdcede 1px solid; PADDING-BOTTOM: 4px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; BORDER-TOP: #bdcede 1px solid; PADDING-TOP: 4px
}
.linkline A {
	MARGIN: 0px 4px
}
#tblHeader P {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; FONT-FAMILY: Arial, Helvetica, sans-serif; COLOR: #043e70; FONT-SIZE: 9pt; PADDING-TOP: 10px
}
#tblTitle TD {
	PADDING-BOTTOM: 22px; FONT-STYLE: italic; PADDING-LEFT: 2px; FONT-FAMILY: Arial, Helvetica, sans-serif; COLOR: #043e70; FONT-SIZE: 10pt; FONT-WEIGHT: bold; PADDING-TOP: 11px
}
#tblBody TD {
	FONT-FAMILY: Arial, Helvetica, sans-serif; COLOR: #696969; FONT-SIZE: 10pt
}
#tblFooter TD {
	PADDING-BOTTOM: 10px; FONT-FAMILY: Arial, Helvetica, sans-serif; COLOR: #666666; FONT-SIZE: 9pt; PADDING-TOP: 30px
}
.BorderTopBottom {
	BORDER-BOTTOM: #bdcede 1px solid; BORDER-LEFT: medium none; PADDING-BOTTOM: 5px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; BORDER-TOP: #bdcede 1px solid; BORDER-RIGHT: medium none; PADDING-TOP: 5px
}
.BorderLeftRight {
	BORDER-BOTTOM: medium none; BORDER-LEFT: #bdcede 1px solid; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 5px; PADDING-RIGHT: 5px; BORDER-TOP: medium none; BORDER-RIGHT: #bdcede 1px solid; PADDING-TOP: 0px
}
.bodytitle1 {
	FONT-STYLE: normal; FONT-FAMILY: Arial, Helvetica, sans-serif; COLOR: #043e70; FONT-SIZE: 14pt; FONT-WEIGHT: bold
}
.bodytext {
	FONT-FAMILY: Arial, Helvetica, sans-serif; COLOR: #000000; FONT-SIZE: 10pt; TEXT-DECORATION: none
}
.bodytitle2 {
	FONT-FAMILY: Arial, Helvetica, sans-serif; COLOR: #043e70; FONT-SIZE: 12pt; FONT-WEIGHT: bold
}
.bodytitle3 {
	FONT-STYLE: normal; FONT-FAMILY: Arial, Helvetica, sans-serif; COLOR: #728caf; FONT-SIZE: 10pt; FONT-WEIGHT: bold
}
